$primary-color: #F29F1B;
$active-color: #b45c1c;
$sPad: 1em;
@mixin flex($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
nav {
    background-color: #333;
    color: $primary-color;
    @include flex($justify: space-between);
    
    img {
        width: 100px;
    }
    ul {
        @include flex;
        list-style-type: none;
    }

    a {
        color: $primary-color;
        padding: $sPad;
        margin: $sPad;
        text-decoration: none;
        border: 1px solid transparent;
    }
      a:hover{
       color: $active-color;
       border: 1px solid $active-color;
    }
}

.active{
    color: $active-color;
    border: 1px solid $active-color;
}
/*
*
body
header
nav
a
img
ul
li
a
*/